.DS_Store
device/drive/*
5S-ML/device/drive/* 
frenztoolkit/src/recorded_data/*
*.so 
.venv
.env*
*.zip
drive
cache/*
*.pyc
.pyc
*/.pyc
*/*.pyc
*.pyc
*.wav
*.mp3
device/demo/*
.DS_Store
cloud/.DS_Store
device/.DS_Store
__pycache__
*/__pycache__/*
.cassandra*
cache/*
analysis/data/*
device/cache/*  
.vscode/*
*.cython=.pyc
dist/*
*.edf
*.pyc
analysis/cache/*
build/*
*.rml

.DS_Store

*/data
data
.ipynb_checkpoints
**/cache
**/*log
myenv/*


*.dat
*.npz

state.json

vir_name/*


